body
{
    background-position: center;
    background-size: cover;
}

.heading
{
font-size: 50px;
width: 100%;
margin: 0px;
color: white;
background-color: rgb(20, 133, 20);
}

.divLegal
{
    width: 550px;
    height: 60px;
    background-color: forestgreen;
    border-radius: 12px;
}

.divMaroMeno
{
    width: 475px;
    height: 125px;
    background-color: rgb(19, 107, 19);
    border-radius: 10px;
}

.divChata
{
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
}

.nome
{
font-size: 18px;
width: 300px;
border-radius: 20px;
color: black;
}

.vlt
{
    width: 100px;
    font-size: 20px;
    float: left; 
}

.copyrightfooter 
{
    position: fixed;
    color: rgba(126, 126, 126, 0.961);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2.5;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}