body
{
    background-position: center;
    background-size: cover;
}

.heading
{
    font-size: 40px;
    width: 100%;
    margin: 0px;
    color: white;
    background-color: rgb(20, 133, 20);
}

.divLegal
{
    width: 60%;
    height: 90px;
    background-color: forestgreen;
    border-radius: 12px;
}

.divChata
{
    width: 700px;
    height: 73px;
    background-color: rgb(32, 138, 45);
    border-radius: 12px;
    text-align: center;
}

.quadrado
{
    margin: 10px;
    width: 300px;
}

.lacoba
{
    font-size: 30px;
}

#start, #numberOfObjects, #status
{
    font-size: 18px;
    height: 45px;
}

#input
{
    width: 85%;
    border-radius: 12px;
}

.copyrightfooter 
{
    position: fixed;
    color: rgba(126, 126, 126, 0.961);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2.5;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

canvas
{
    box-shadow: 10px 10px 10px green;
    border-radius: 10px;
}

.vlt
{
    width: 100px;
    font-size: 20px;
    float: left; 
}